@model IEnumerable<MVC.Models.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a href="@Url.Action("AddOrEditPatient","Patient")" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
                <td>
                    @Html.ActionLink("+ Visit", "AddPatientVisit", new { Id=item.PatientId  }) |
                    @Html.ActionLink("+ Disease", "AddPatientDisease", new { Id=item.PatientId }) |
                    @Html.ActionLink("+ Doctor", "AddPatientDoctor", new { Id=item.PatientId })
                </td>
            <td>
                    @Html.ActionLink("Edit", "AddOrEditPatient", new { Id=item.PatientId }) |
                   @* @Html.ActionLink("Details", "Details", new { Id=item.PatientId }) |*@
                    @Html.ActionLink("Delete", "DeletePatient", new { Id=item.PatientId })
            </td>
        </tr>
}
    </tbody>
</table>
